 /* main 부분 css */
 main {
    margin-left: 250px;
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
}

.question_output{
    margin-top: 50px;
    margin-left: 100px;
    width: 700px;
    height: 50px;
    font-size: large;
    font-weight: bold;
    font-style: normal;
    background-color: grey;
    border-radius: 20px;

    /* 밑에 코드를 입력하면 사진위로 질문이 들어감 */

    position:absolute;
    top: 450px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.interviewer{
    margin-top: 50px;
    margin-right: 200px;
    width: 910px;
    height: 500px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
}

.canvas{
    width: 419px;
    height: 60px;

    margin-top: 50px;
    margin-left: 0px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.canvasAndButton{
    display: flex;
   
}

.button{
    display: flex;
    align-items: center;
    margin-left: 300px;
}
