
/* main 부분 css */

.main1 {
    width: 100%;
    min-width: 1200px; 
    height: 430px;
    display: flex;
    flex-direction: row;
}

.main1 div {
    flex-grow: 1;
    
}

.main1Left div {

    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 430px;
    /* 수직 정렬을 위한 height 설정 */
}

.main1Left div div {
    padding-top: 100px;
}

.main1Left div div:last-child {
    padding-top: 20px;
}

.main1Left div button {

    width: 200px;
    /* 버튼 너비 설정 */
    height: 70px;
    /* 버튼 높이 설정 */
    font-size: x-large;

}

.main1Right {
    margin-right: 100px;
    background-image: url("/img/mainpageImg\(1\).jpg");
    background-repeat: no-repeat;
    /* 이미지 반복 여부 */
    background-size: contain;
    /* 배경 이미지 크기 조정 */
}

/* 여기서 부터 main2 */

.main2 {
    margin-top: 50px;
    width: 100%;
    min-width: 1200px; 
    height: 400px;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;

}

.main2 div {
    flex-grow: 1;
}

.main2Right div {

    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 80%;
    /* 수직 정렬을 위한 height 설정 */
}



.main2Right div div:last-child {
    padding-top: 20px;

}

.main2Left {
    margin-left: 200px;
    width: 300px;
    height: 400px;
    background-image: url("/img/mainpageImg\(2\).jpg");
    background-size: 400px 400px;
    background-repeat: no-repeat;
    /* 이미지 반복 여부 */
    background-size: contain;
    /* 배경 이미지 크기 조정 */
}
.tech{
    margin-top: 100px;
    width: 100%;
    min-width: 1200px; 
    font-family: 'GangwonEduPowerExtraBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main3 {
    margin-top: 100px;
    width: 100%;
    min-width: 1200px; 
    height: 430px;
    display: flex;
    flex-direction: row;
    /* background-color: gray; */

}

.main3 div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.card {
    width: 300px;
    height: 254px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
}
