 /* nav 부분 css */

 nav {
    background-color: white;
    width: 100%;
    min-width: 1200px;
    height: 80px;
}

.container-fluid {
    padding: 0.5rem;
}

#logo {
    margin-left: 200px;
}

/* #logo img{
    width: 200px;
    height: 100px;
} */

#divBtn {
    margin-right: 200px;
}

#divBtn button {
    border-radius: 30px;
}