/* nav 부분 css */

nav {
    background-color: whitesmoke;
    width: 100%;
    min-width: 1200px; 
}

.container-fluid {
    padding: 0.5rem;
}

#logo {
    margin-left: 250px;
}

#divBtn {
    margin-right: 250px;
}

#divBtn button {
    border-radius: 30px;
}


/* main 부분 css */



/* footer 부분 css */

footer div{
    margin-top: 100px;
    height: 70px;
    background-color: gray;
}
