/* main 부분 css */
main {
    margin-left: 300px;
    
    width: 100%;
    max-width: 1000px;
    min-width: 1000px;
}

.notification {
    margin-top: 50px;
    font-size: xx-large;
    font-weight: bold;
    font-style: normal;
}

.simplePhrase {
    margin-top: 30px;
    color: rgb(137, 133, 133);
}

.image {
    margin-top: 30px;
}


.explain {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-style: normal;
}

.button {
    position: absolute;
    right: 220px;
}

button {
    border-radius: 90px;
    font-size: 20px;
    width: 150px;
    height: 50px;
}

