main {
  
  width: 100%;
  height: 100vh;
  min-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.card {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 400px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  background: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -1px 0px inset;
}


.img_div,
.carousel-inner {
  border-radius: 70px;
}


.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#btn {
  background-color: #90EE90;
  
}