 /* main 부분 css */
 main {
    margin-left: 300px;
    width: 100%;
    max-width: 1000px;
    min-width: 1000px;
}


.title {
    margin-top: 50px;
    font-size: xx-large;
    font-weight: bold;
    font-style: normal;
}

.explain {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-style: normal;
}

.canvasTitle {
    margin-top: 50px;
    font-size: x-large;
    font-weight: bold;
    font-style: normal;
}

#videoContainer {
    display: flex;
    align-items: center;
    height: 400px;
    margin-top: 100px;
}

#videoElement {
    width: 600px;
    height: 500px;
    object-fit: cover;
    background-color: black;

}

.left,
.right {
    width: 100px;
    height: 500px;
    background-color: black;
}

.mic {
    margin-top: 50px;
}

.micTitle{
    margin-top: 150px;
    font-size: x-large;
    font-weight: bold;
    font-style: normal;
}

.title {
    margin-top: 100px;
}
ul {
    list-style: none;
  }
  