
        body {
            margin: 0;
            height: 100vh;
            /* 화면 전체 높이를 차지하도록 설정 */
        }

        .mypageNav {
            background-color: grey;
            ;
            height: 50px;
            margin-top: 50px;
            margin-left: 50px;
            margin-right: 50px;
            display: flex;
            align-items: center;
            min-width: 1200px;
            /* 최소 너비를 1200px로 설정 */
            /* 세로 가운데 정렬 */


        }

        .mypageNav h2 {
            margin: 10px;
            /* h2의 기본 margin 제거 */
            text-align: left;
        }

        .mypage {
            display: flex;
            min-width: 1200px;
            min-height: 100vh;
            margin-left: 50px;
            margin-right: 50px;
        }

        .mypageLeft {
            width: 20%;
            background-color: whitesmoke;
        }

        .mypageRight {
            width: 80%;

        }

        .mypageRight .container {
            position: relative;
            margin: 70px;
            margin-top: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .mypageRight .caption {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
            padding: 10px;
        }